#worldMap {
    width: 100%;
}

/*flags's data*/
.flags {
    position: relative;
    width: 3%;
    opacity: 0.8;
}
.flags:hover {
    opacity: 1;
}
.flags:visited {
    opacity: 0.5;   
}

#ru {
    left: 68.5%;
}
#us {
    left: 15%;
}
#uk {
    width: 2%;
    left: 37%
}
#br {
    left: 26%;
}
#il {
    width: 2%;
    left: 45.5%;
}